@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Установка пароля";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4 class="text-white-50">@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    У вас нет локального имени пользователя/пароля для этого сайта. Добавить локальную
     учетную запись, чтобы вы могли войти в систему без внешнего входа.
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewPassword" class="text-light">Новый пароль</label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="text-light">Подтвердите новый пароль</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}