@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="sign-up">
    <div class="sign-up__content">
        <div class="sign-up__title">Создайте аккаунт</div>
        <form class="sign-up__form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
            </div>
            <div class="form-row two-in-row">
                <div class="col-5 two-in-row__first">
                    <input type="text" class="form-control" id="signUpFirstName" asp-for="Input.FirstName" placeholder="Имя" required>
                </div>
                <div class="col-7 two-in-row__second">
                    <input type="text" class="form-control" id="signUpLastName" asp-for="Input.LastName" placeholder="Фамилия" required>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="tel" class="form-control" id="signUpPhone" asp-for="Input.PhoneNumber" placeholder="Номер телефона"
                           required>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="email" class="form-control" id="signUpEmail" asp-for="Input.Email" placeholder="Электронная почта" required>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row two-in-row">
                <div class="col two-in-row__first">
                    <input type="password" class="form-control" id="signUpPassword1" asp-for="Input.Password" placeholder="Пароль"
                           required>
                </div>
                <div class="col two-in-row__second">
                    <input type="password" class="form-control" id="signUpPassword2" asp-for="Input.ConfirmPassword" placeholder="Подтвердить пароль"
                           required>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn">Создать аккаунт</button>
        </form>
        <a asp-page="./Login" class="sign-up__sign-in">Войти</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
