<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GSTICK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;0,400;500;1,400&family=IBM+Plex+Sans:wght@200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/sign.css" />
</head>
<body>
    <div class="flex-center">
        <div class="sign">
            <div class="sign__logo">
                <a asp-area="" asp-page="/Index" class="sign__logo-link">
                    <img src="~/img/logo1.svg" alt="logo">
                </a>
            </div>
            <div class="sign__content">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
