@using Microsoft.AspNetCore.Identity

@inject SignInManager<PlayStationClubUser> SignInManager
@inject UserManager<PlayStationClubUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <div class="header__sign-in">
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @UserManager.GetUserName(User)</a>
            @*пока що залишу --->*@
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light">Выйти</button>
            </form>
            @*<--- пока що залишу*@
        </div>
}
else
{
        <div class="header__column">
            <a class="header__sign-in btn" asp-area="Identity" asp-page="/Account/Login">Войти</a>
            <a class="header__sign-in btn" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </div>
}

