@model PlayStationClub.Infrastructure.ViewModels.SessionViewModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body__content game-details">
            <div class="game-details__content">
                <form asp-page="/Room/RoomDetails" method="post" asp-page-handler="OrderSession">
                    <h4 class="text-white-50">БРОНИРОВАНИЕ СЕАНСА</h4>
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="roomId" name="roomId" class="form-control" value="@Model.RoomId" hidden />
                    <div class="form-group">
                        <label class="text-light">Дата</label>
                        <input type="text" id="datepicker" name="date" class="form-control" placeholder="Выберите дату" required />
                    </div>
                    <div class="form-group">
                        <label class="text-light">Длительность</label>
                        <select id="duration" name="duration" class="form-control" required>
                            <option id="continuance" value="" selected>Выберите длительность</option>
                            <option value="1" >1 час</option>
                            <option value="2" >2 часа</option>
                            <option value="3" >3 часа</option>
                            <option value="4" >4 часа</option>
                            <option value="5" >5 часов</option>
                            <option value="6" >6 часов</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="text-light">Количество игроков</label>
                        <input id="Players" name="players" class="form-control" type="number" value="1" required />
                    </div>
                    <div class="form-group">
                        <label class="text-light">Время</label>
                        <input id="timepicker" name="time" type="text" class="form-control" placeholder="Выберите время" required />
                    </div>
                    <div class="form-group">
                        <button id="submit" type="submit" class="btn btn-danger btn-block">Забронировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    let select_date;
    let weekdaysTimeStart = '8am';
    let weekdaysTimeEnd = '22pm';
    let weekendsTimeStart = '9am';
    let weekendsTimeEnd = '00am';
    
    let allowTimes = [];

    let date_selected = false;
    let duration_selected = false;
    //-- Timepicker --
    $('#timepicker').timepicker({
        step: 60,
        disableTimeRanges: [
            ['1am', '2am'],
            ['3am', '4:01am']
        ],
        minTime: weekdaysTimeStart,
        maxTime: weekdaysTimeEnd,
        timeFormat: 'H:i',
    });
    
    //-- Datepicker --
    $('#datepicker').datepicker({
        minDate: 0,
        maxDate: "+30D"
    });

    //lock timepicker
    $('#timepicker').prop('disabled', true);    
    //unlock timepicker
    $('#datepicker').on('change', () => {
        if ($('#datepicker').val()) date_selected = true;
        select_date = $('#datepicker').val();
        let weekday = new Date(select_date.replace(/(\d+).(\d+).(\d+)/,"$3/$2/$1"));
        //console.log(weekday.getDay());
        if (date_selected && duration_selected) {
            $('#timepicker').prop('disabled', false)
        }
    });
    $('#duration').on('change', () => {
        if ($('#duration').val()) duration_selected = true;
        
        if (date_selected && duration_selected) {
            $('#timepicker').prop('disabled', false)
        }
    });
});
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}