@model PlayStationClub.Infrastructure.ViewModels.OrderViewModel
@{
    ViewData["Title"] = "Бронирование сеанса";
}

<h4 class="text-white-50">@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action="OrderSession">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Прізвище, імя, по батькові</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label">Логін</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CokId" class="control-label">Організація</label>
                <select asp-for="CokId" class ="form-control" asp-items="ViewBag.CokId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PravaId" class="control-label">Права</label>
                <select asp-for="PravaId" class ="form-control" asp-items="ViewBag.PravaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавити" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Повернутись до списку користувачів</a>
            </div>*@
        </form>
    </div>
</div>

@*<form class="sign-in__form" id="account" method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Date">Дата</label>
            <input type="date" asp-for="Date" class="form-control" required>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
            </div>
    </div>
</form>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
