@page
@model PlayStationClub.Pages.Room.OrderSessionModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body__content game-details">
            <div class="game-details__content">
                <form asp-page="/Room/RoomDetails" method="post" asp-page-handler="OrderSession">
                    <h4 class="text-white-50">БРОНИРОВАНИЕ СЕАНСА</h4>
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="text-light">Дата</label>
                        <input id="date" name="date" class="form-control" type="date" required />
                    </div>
                    <div class="form-group">
                        <label class="text-light">Длительность</label>
                        <select id="duration" name="duration" class="form-control">
                            <option value="" selected>-</option>
                            <option value="1" >1 час</option>
                            <option value="2" >2 часа</option>
                            <option value="3" >3 часа</option>
                            <option value="4" >4 часа</option>
                            <option value="5" >5 часов</option>
                            <option value="6" >6 часов</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="text-light">Время</label>
                        <input id="time" name="time" class="form-control" type="time" required />
                    </div>
                    <div class="form-group">
                        <input id="submit" type="submit" value="Забронировать" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $( document ).ready(function() {
        let datePicker = $('#date').val();
        if (datePicker == null || datePicker == "") {
            $('#time').prop('disabled', true);
        }
        $('#date').on('change', () => $('#time').prop('disabled', false))
    });
</script>
}