@page
@model IndexModel

@{
    ViewData["Title"] = "G-STICK";

    <div class="main__info info">
        <h3 class="info__subtitle">PlayStation Club</h3>
        <h1 class="info__title">g-stick</h1>
        <p class="info__text">Не знаешь как провести вечер с друзьями? Обожаешь смотреть фильмы? Хочешь
            посмотреть прямую трансляцию на большом экране? Все это и не только ты можешь получить в
            нашем
            PlayStation клубе.</p>
    </div>
}